<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#6285a9">
        <meta name="viewport" content="width=device-width">
        <title>Hello World</title>
        <style>
            body{
                display: flex;
                justify-content: center;
                align-items: center;
                height:100vh;
            }
            h1 {
                color: hsl(47, 33%, 66%);
            }
        </style>
    </head>
    <body>
        <h1>Hey World!</h1>
    </body>
</html>